.oct img{
	z-index: 1;
	margin: auto;
	display: block;
	padding-top: 2px;
	

}
.glass img{
	z-index: 3;
	margin-left:auto;
	margin-right:auto;
	display: block;
	position: relative;
	left:0;
	right:0;
	top:160px;

}
.hat img{
	z-index: 2;
	margin: auto;
	display: block;
	position: relative;
	top:100px;
	

}
}